In [11]:
from os_api_wrapper import openseacollection
import requests
import pandas as pd

In [12]:
url = 'https://api.opensea.io/api/v1/assets?asset_contract_address=0x4f89Cd0CAE1e54D98db6a80150a824a533502EEa&order_direction=desc&offset=0&limit=20'

In [13]:
data = openseacollection(url)

In [15]:
data.project_des

'PEACEFUL GROUPIES is a collection of 10000 unique and crazy characters. These peaceful creatures will follow you on your adventures through this digital psychedelic experience called the PEACEVOID.'

In [17]:
data.as_df()

   Token ID            Name
0     10000  Groupie #10000
1      9999   Groupie #9999
2      9998   Groupie #9998
3      9997   Groupie #9997
4      9996   Groupie #9996
5      9995   Groupie #9995
6      9994   Groupie #9994
7      9993   Groupie #9993
8      9992   Groupie #9992
9      9991   Groupie #9991
10     9990   Groupie #9990
11     9989   Groupie #9989
12     9988   Groupie #9988
13     9987   Groupie #9987
14     9986   Groupie #9986
15     9985   Groupie #9985
16     9984   Groupie #9984
17     9983   Groupie #9983
18     9982   Groupie #9982
19     9981   Groupie #9981